/*adding a background black color to the body of my browser*/

body{
  background-color: black;
}

/*Aligning the  sidebar to the left side of my browser ,occupying a
width of 15% and a height that is suitable to th eye sight.the positioned is fixed
which resuts into the sidebar being glued to the left side of the  browser*/

#sidebar_styling{
  background-color:#333;
  width: 15%;
  height: 720px;
  padding-left: 5px;
  position: fixed;
  float: left;
  top: 0;
  color:white;
  padding-right: 5px;
}

/* Centered text and a bottom padding to the sidebar listed items */

#sidebar_styling li{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Targeting the sidebar images and making it a
border radius of 50% as well as a top padding */

#sidebar_styling img{
  padding-top: 10px;
  border-radius: 50%;
}

/*Removing the bullets from the unordered list*/

nav ul{
  list-style-type: none;
}


/*Black background home icon with a padding top to
provide space between the icons within the sidbar*/

#home_icon{
  background-color: black;
  padding-top: 10px;
}

/*Adding a hover to the home icon ,to change
to a gray color and a black text color */

#home_icon:hover{
  background-color: red;
  color: black;
}

/*removing the line and changing the text size
bigger,and addding color*/

#home_icon a{
  color: white;
  font-size: 22px;
  text-decoration: none;
}

/* Adding a black background hover to the sidebar
this apply to the classed information */

.sidebar_icons:hover{
  background-color: red;
}

/*removing the line from the anchor tag and changing the
color as well as enchancing the size of the font*/

.sidebar_icons a{
  color: white;
  font-size: 22px;
  text-decoration: none;
}

/*aligned a background image to the top right of my browser ,by floating it right
as well as inserting  a suitable height and width and sizing it to cover to fit the cover of the screen */

#image_aligned_right{
  height:750px;
  float: right;
  width: 83.8%;
  background-image: url("images/lance.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*styling the text ontop of the background image, giving
it a gray color with some padding ,as well as font size*/

#image_aligned_right p{
  color: #333;
  padding-left: 700px;
  font-size: 40px;
}

#image_aligned_right h3{
  color: #333;
  padding-left: 530px;
  font-size: 40px;
}

/*personal Statement aligned to the right of the browser,comes
with a suitable height and width. contains padding for personal
alignement as well as a background gray color to add a theme to the browser page*/

#personal_statement_aligned_right{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 83.8%;
  background-color: #333;
  float: right;
  height: 200px;
  color: black;
  font-family: 'IM Fell Great Primer', serif;
}

/*targeting the h1 of the personal statement centering it ,
inserting a font size as well as a black text color*/

#personal_statement_aligned_right h1{
  text-align: center;
  color: black;
  font-size: 25px;
}

/*targeting the p tag of the personal statement white text color,
centered text as well as padding .contains a font size too*/

#personal_statement_aligned_right p{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: white;
  font-size: 20px;
}

/*aligned  content to the right ,contains paddding for adjusting ,
a width and height to compliment the rest of the content on the browser */

#skill_ability_aligned_right{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 83.8%;
  background-color: black;
  float: right;
  height: 300px;
  color: white;
}

/*targeting the headings and centering them in the middle as well as adding font size*/

#skill_ability_aligned_right h2,h4{
  text-align: center;
  font-size: 24px;
}

/*centered white text with a font size and padding for adjustment */

#skill_ability_aligned_right p{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  color: white;
}

/*Removing the bullets from the unordered list*/

#skill_ability_aligned_right ul{
  list-style-type: none;
}

/*aligning the text center of the list items*/

#skill_ability_aligned_right li{
  font-size: 20px;
  text-align: center;
}

/*white text color background red color aligned
content to the right of the browser,contains padding as well */

#coding_content_holder{
  color:white;
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  height:300px;
  float: right;
  width: 83.8%;
}

#coding_content_holder h1{
  text-align: center;
}

/* courses completed content displays on the right ,with a matching
width as the rest of the content that appears  on the right with
a white text color and a themed background color */

#courses{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 83.8%;
  background-color:black;
  float: right;
  height: 500px;
  color: white;
}

/*styling the p tag within the courses holder*/
#courses p{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  color: white;
}

/*aligning the heading center*/
#courses h2{
  text-align: center;
}

/*education content contains padding ,background color,
text color as well as a suitable width and height*/

#education_aligned_right{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 83.8%;
  background-color: #333;
  float: right;
  height: 650px;
}

/*aligning white headings from h2-h5 */

#education_aligned_right h2,h3{
  text-align: center;
  color: white;
}

/*Removing the bullets from the unordered list*/

#education_aligned_right ul{
  list-style-type: none;
  font-size: 20px;
  padding-left: 110px;
}

/*creatng space between the listed items by adding a padding bottom*/

#education_aligned_right li{
  padding-bottom: 10px;
  color: white;
}

/*Styling the p tags within the education aligned holder*/
#education_aligned_right p{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  color: white;
}


/**/
#contact_holder{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 83.8%;
  background-color:#333;
  float: right;
  height: 250px;
  color: white;
}

#contact_holder h2,h3{
  text-align: center;
}

#contact_holder table{
  padding-left: 50px;
  float: left;
  width: 40%;
  margin-left: 100px;

}

#contact_holder td{
  padding-bottom: 35px;
}

.td_text{
  padding-left: 10px;
  font-size: 20px;
}

#home_bullets_styling{
  list-style-type: none;
}



#html_bar{
  padding-left: 20px;
  float:left;
}

#css_bar{
  padding-left: 20px;
  float:left;
}

#javascript_bar{
  padding-left: 20px;
  float:left;
}

#jquery_bar{
  padding-left: 20px;
  float:left;
}

/*stylyng the skills images*/
#html_bar img{
  border-radius: 50%;
  width: 240px;
  height: 200px;
  box-shadow: 5px 5px 5px red;
}

#css_bar img{
  box-shadow: 5px 5px 5px red;
  border-radius: 50%;
  width: 240px;
  height: 200px;
}

#javascript_bar img{
  box-shadow: 5px 5px 5px red;
  border-radius: 50%;
  width: 240px;
  height: 200px;
}

#jquery_bar img{
  box-shadow: 5px 5px 5px red;
  border-radius: 50%;
  width: 240px;
  height: 200px;
}

/*adding a hover function to the bar of the skills */
#html_bar:hover{
  opacity: 0.1;
  transition: 3s;

}

#css_bar:hover{
  opacity: 0.1;
  transition: 3s;
}

#javascript_bar:hover{
  opacity: 0.1;
  transition: 3s;
}

#jquery_bar:hover{
  opacity: 0.1;
  transition: 3s;
}



/*aligning the reference page to the right of the browser*/
#references{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 83.8%;
  background-color:black;
  float: right;
  height: 520px;
  color: white;
}

#references h2{
  text-align: center;
}

/*#references h4{
  padding-right: 50%;
}*/

#references img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 5px #333;
  margin-left: 80px;
  margin-top: 10px;
}

#references img:hover{
  transform: rotateY(-180deg);
  transition: 2s;
  box-shadow: 5px 5px 5px red;
}

/*styling the text and headers below the image of nate*/
#reference_nate{
   float: left;
   width: 33.3%;
}

#reference_nate h3{
  padding-right: 22px;
}

#reference_nate h4{
  padding-right: 20px;
}

#reference_nate p{
  padding-left: 100px;
  font-size: 20px;
}

/*stylying the text below the image of candice */
#reference_candice{
   float: left;
   width: 33.3%;
}

#reference_candice h3{
  padding-right: 50px;
}

#reference_candice h4{
  padding-right: 55px;
}

#reference_candice p{
  padding-left: 80px;
  font-size: 20px;
}

/*stylying the text below the image of stefan*/
#reference_stefan{
   float: left;
   width: 33.3%;
}

#reference_stefan h3{
  padding-right: 50px;
}

#reference_stefan h4{
  padding-right: 80px;
}

#reference_stefan p{
  padding-left: 80px;
  font-size: 20px;
}

.td_icons{
  color: white;
  padding-right: 200px;
  font-size: 20px;
}
